* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.display {
    height: 50px;
    padding: 10px 10px 0;
    font-size: 30px;
    text-align: right;
    border: 1px solid rgb(0, 0, 0);
}

.inputs {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.line {
    display: flex;
}

.btn {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 109, 109);
    width: 50px;
    height: 50px;
    border: 3px solid rebeccapurple;
}

.btn span {

    color: #fff;

}

.orange {
    background-color: rgb(255, 178, 10);
}

.n0 {
    flex: 2;
}

.nn {
    flex: 1;
}

.ne {
    flex: 1;
}